* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.column h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
}

.column h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.column button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.column button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
